<configuration>
    <appender name="root-file" class="ch.qos.logback.core.FileAppender">
        <file>logs/root-test.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.codeborne.selenide" level="DEBUG"/>
    <logger name="org.openqa.selenium" level="DEBUG"/>
    <logger name="io.github.bonigarcia" level="DEBUG"/>
    <root level="TRACE">
        <appender-ref ref="root-file"/>
    </root>

</configuration>